
@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(//fonts.googleapis.com/css?family=Metrophobic:300,400,700);
@import url(//fonts.googleapis.com/css?family=Oxygen:300,400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    /*font-size: 100%;*/
    /*font: inherit;*/
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    overflow: auto;
    margin:0;
    background-color:#d4d4d4;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearer{
    clear: both;
    line-height: 0px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   /*background-color: #369;*/
}

/*---------------global styles end-------------------*/

#mainContainer {
    position:relative;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
}

#mainInnerContainer {
    position:relative;
    left:0px;
    top:0px;
    height:100%;
    width:1000px;
    margin:0 auto;
}

.mainPageContainer {
    position:relative;
    display:block;
    margin-top:18%;
    overflow:auto;

}

#mainFooter{
    width:524px;
    height:40px;
    position:relative;
    float:right;
    border-top-color:#999;
    border-top-style:dotted;
    border-top-width:thin;
    
}

#copyRight{
    position:relative;
    float:right;
    color:#5388D4;
    font-size:12px;
    font-family: 'Metrophobic', sans-serif;
    top:16px;
    margin-right:10px;
}

#introContainer {

}
#projectContainer {

}
#skillContainer{

}
#contactContainer{
    
}

#columnOne {
    width: 508px;
    position: relative;
    padding:8px;
    z-index: 10;
    float:left;
    display:block;
    background-color:#4EF168;
}

#columnOne .hyperLink {
    display: block;
    float:left;
    margin-top:40px;
}

#columnOne .hyperLink img{
    float:left;
    vertical-align:text-bottom;
}

#columnTwo {
    width: 508px;
    position: relative;
    padding:8px;
    z-index: 10;
    float:left;
    display:block;
    background-color:#4EF168;
}

#columnTwo li{
    position: relative;
    padding:8px;
    z-index: 10;
    float:left;
    display:block;
    background-color:#d4d4d4;
    list-style: none;
}

#columnTwo h2 {
    font-size: 44px;
    font-family: 'Oxygen', sans-serif;
    color:#F60;
    margin: 0 0 10px 0
}

#columnTwo p {
    display: block;
    font-family: 'Metrophobic', sans-serif;
    color:#369;
    font-size:14px;
    line-height:1.3em;

}

#columnTwo img {
    width: 200px;
}

#skillNav{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display:block;
}

#skillNav li {
    position: relative;
    width:168px;
    float:left;
    background-image: url(../images/610x348.png);
    background-position:top right;
    margin-bottom:1px;
    margin-right:1px;
}

#skillNav li .title {
    display: block;
    float:left;
    color: #FFF;
    font-family: 'Oxygen', sans-serif;
    font-size:14px;
    text-decoration: none;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}

#contactNav{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display:block;
}

#contactNav li .hyperLink {
    display: block;
    float:left;
    color: #FFF;
    font-family: 'Oxygen', sans-serif;
    font-size:14px;
    text-decoration: none;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}

#contactNav li {
    position: relative;
    width:253px;
    float:left;
    background-image: url(../images/610x348.png);
    background-position:top right;
    margin-bottom:1px;
    margin-right:1px;
}

#contactNav li .title {
    display: block;
    float:left;
    color: #FFF;
    font-family: 'Oxygen', sans-serif;
    font-size:14px;
    text-decoration: none;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.gblogo {
    display: block;
    float:left;
    color: #FFF;
    font-family: 'Oxygen', sans-serif;
    font-size:26px;
    text-decoration: none;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
}

#logo img {
    width: 60px;
    position:relative;
    display:block;
    margin:auto;
}

#mainNavContainer {
    width: 100%;
    position: fixed;
    margin:auto;
    top:0px;
    left:0px;
    right:0px;
    z-index:900;
    background-color:#0CF;
}

.ie7 #mainNavContainer {
    width: 100%;
    position: fixed;
    margin:auto;
    left:auto;
    right:auto;
    z-index:900;
    height:80px;
    background-color:#39C;
}

#mainNavInnerContainer {
    width:1000px;
    position:relative;
    margin:0 auto;
    z-index:900;
}

.ie7 #mainNavInnerContainer {
    width:1000px;
    position:relative;
    margin:0 auto;
    z-index:900;
}

#mainnav {
    position: relative;
    z-index: 1000;
    pointer-events:none;
    float:left;
}

.ie7 #mainnav {
    position: relative;
    z-index: 1000;
    pointer-events:none;
}

#mainnav li {
    position: relative;
    pointer-events:auto;
    float:left;
    list-style-type:none;
}

#mainnav li a {
    position: relative;
    background: #0CF;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:12px;
    width:140px;
    height:36px;
    margin-left:1px;
    padding-top:36px;
    text-align:center;
}

.ie7 #mainnav li a {
    position: relative;
    background: #0CF;
    display: block;
    float: left;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Metrophobic', sans-serif;
    font-size:12px;
    width:250px;
    height:30px;
    padding-top:50px;
    margin-right:1px;
    margin-top:0px;
    text-align:center;
}

#projectNav {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display:block;
}

#projectNav li {
    position: relative;
    float:left;
    background-image: url(../images/610x348.png);
    background-position:top right;
    margin-right:1px;
    margin-bottom:1px;
}

#projectNav li img {
    display: block;
    width:253px;
}

#projectNav li .title {
    display: block;
    float:left;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:12px;
    text-decoration: none;
    text-transform:uppercase;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:20px;
}

#projectNav p {
    display: block;
    color: #CCCCCC;
    font-family: 'Metrophobic', sans-serif;
    font-size:12px;
    text-transform: uppercase;
    text-decoration: none;
    font-size:10px;
    padding-bottom:10px;
}

.projectIcons {
    display:block;
    position: relative;
    float:left;
    background-color:#FFF;
    height:71px;
    margin-bottom:1px;
    margin-right:1px;
}

#projectIcons li img{
    display:block;
    width:126px;
}

.projectImgContainer {
    width: 508px;
    padding:8px;
    position: relative;
    z-index: 10;
    /*float:left;*/
    display:block;
    background-color:#0CF;
}

.projectImg {
    position:relative;
    float: left;
    background-color: white;
    margin-bottom:18px;
}

.projectTitle {
    display: block;
    font-family: 'Oxygen', sans-serif;
    color:#F60;
    font-size:44px;
    line-height: 1.4em;
    /*margin-bottom:20px;*/
}

.dashboardTitle {
    display: block;
    font-family: 'Oxygen', sans-serif;
    color:#F60 !important;
    font-size:24px;
    margin-bottom:20px;
    background-color: #F60 !important;
}

.dashboardText {
    display: block;
    color: #CCCCCC;
    font-family: 'Metrophobic', sans-serif;
    font-size:14px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom:10px;
}

.projectName {
    display: block;
    font-family: 'Metrophobic', sans-serif;
    color:#369;
    font-size:14px;
    line-height:1.3em;
}

.projectText {
    display: block;
    font-family: 'Metrophobic', sans-serif;
    color:#369;
    font-size:14px;
    margin-top:20px;
}

.hyperLinkText {
    display: inline-block;
    font-family: 'Metrophobic', sans-serif;
    color:#369;
    font-size:18px;
    /*float:left;*/
}

.projectBtn {
    display: block;
    font-family: 'Oxygen', sans-serif;
    color:#F60;
    font-size:44px;
    margin-bottom:20px;
}
#projectInfo #project-description {
    display: block;
    font-family: 'Metrophobic', sans-serif;
    color:#369;
    font-size:14px;
    line-height:1.3em;
}

.btn-borg{
        display: block;
    font-family: 'Metrophobic', sans-serif;
    color:#369;
    font-size:14px;
    line-height:1.3em;
}

    @media screen and (max-width: 480px){
            
        #mainContainer {
            position:relative;
            left:0px;
            top:0px;
            width: 100%;
            height:100%;
        }

        #mainInnerContainer {
            position:relative;
            left:0px;
            top:0px;
            height:100%;
            width:100%;
            margin:0 auto;
        }

        .mainPageContainer {
            position:relative;
            display:block;
            overflow:hidden;
            margin-top:42%;
        }

        #mainNavContainer {
            width: 100%;
            position: fixed;
            z-index:900;
        }

        #mainNavInnerContainer {
            position:relative;
            width: 100%;
            margin:auto;
            z-index:900;
        }

        #mainnav {
            position: relative;
            z-index: 1000;
            pointer-events:none;
            float:right;
            width:50%;
        }

        #mainnav li {
            position: relative;
            pointer-events:auto;
            float:right;
        }

        #mainnav li a {
            position: relative;
            background: #0CF;
            display: block;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-family: 'Source Sans Pro', sans-serif;
            font-size:18px;
            height:36px;
            margin-left:1px;
            padding-top:10px;
            text-align:center;
        }

        #logo {
            position:relative;
            background-color:#0CF;
            display: block;
            float:left;
            padding:6px;
        }

        #mainFooter{
            width:524px;
            height:40px;
            position:relative;
            float:right;
            border-top-color:#999;
            border-top-style:dotted;
            border-top-width:thin;
            
        }

        #copyRight{
            position:relative;
            float:right;
            color:#5388D4;
            font-size:12px;
            font-family: 'Metrophobic', sans-serif;
            top:16px;
            margin-right:10px;
        }

        #introContainer {

        }
        #projectContainer {

        }
        #skillContainer{

        }
        #contactContainer{
            
        }

        #columnOne {
            padding: 8px;
            position:relative;
            width: 96%;
            float:left;
        }

        #columnOne .hyperLink {
            display: block;
            float:left;
            margin-top:40px;
        }

        #columnOne .hyperLink img{
            float:left;
            vertical-align:text-bottom;
        }

        #columnOne .hyperLink #hyperLinkText {
            display: block;
            font-family: 'Oxygen', sans-serif;
            color:#369;
            font-size:18px;
            float:left;
        }

        #columnTwo {
            width: 96%;
            position: relative;
            padding:8px;
            z-index: 10;
            float:left;
            display:block;
            background-color:#0CF;
        }

        #columnTwo h2 {
            font-size: 44px;
            font-family: 'Oxygen', sans-serif;
            color:#F60;
            margin: 0 0 10px 0
        }

        #columnTwo p {
            display: block;
            font-family: 'Metrophobic', sans-serif;
            color:#369;
            font-size:14px;
            line-height:1.3em;

        }

        #projectInfo {
            width: 460px;
            position: relative;
            color: #FFF;
            padding: 8px;
            z-index: 10;
            float:left;
            display:block;
        }

        #projectImgContainer {
            width: 508px;
            padding:8px;
            position: relative;
            z-index: 10;
            float:left;
            display:block;
            background-color:#0CF;
        }

}