@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.hyperLinkText {
    display: inline-block;
    font-family: 'Metrophobic', sans-serif;
    color:#369;
    font-size:18px;
    /*float:left;*/
    margin-top: 0;
    margin-bottom:0;
}
.projectImgContainer {
    width: 508px;
    padding:8px;
    position: relative;
    z-index: 10;
    /*float:left;*/
    display:block;
    background-color:#0CF;
}//
